/* set the margins of row elements to zero to
override the settings in the dash bootstrap stylesheet */
.row {
    margin: 0 1px 0 1px;
}

.card {
    margin: 0em;
    padding: 0;

}
.card-body{
    padding: 0em;
}

#howto-md img {
    max-width: 100%;
}